@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Bienvenido, @ViewBag.nombre, ¿cómo van los @ViewBag.edad?</h1>
</div>
<div>
    El plato que el señor elevado ha elegido para ti es @ViewBag.plato. <br>
    El gran platillo @ViewBag.plato, de dificultad @ViewBag.dificultad, requiere @ViewBag.tiempo minutos de preparación y puede proveer alimento a @ViewBag.cantidad de individuos.
</div>